/* Color palette */

:root {
    --black: #222222;
    --charcoal-grey: #3b4752;
    --charcoal-grey-two: #35404c;
    --slate-grey: #6d6e6e;
    --MI-grey: #62717f;
    --MIgreen: #10cfbd;
    --denim: #35716e;
    --blue-grey: #7289a3;
    --celadon: #b5fdad;
    --light-blue-grey: #dccfeb;
    --peachy-pink: #fe977f;
    --robin-s-egg-blue: #a2f0f0;
    --lightblue: #93d3f5;
    --buff: #fef5a2;
    --slate-grey-two: #5c6771;
    --warm-grey: #979797;
    --silver: #e3e6e8;
    --pale-grey: #f2f5f5;
    --white-two: #d8d8d8;
    --white: #f5f5f5;
    --cloudy-blue: #c4d0dc;
    --white-four: #ffffff;
    --ice-blue: #fdffff;
    --lavender-pink: #e16fdd;
    --white-five: #fcfcfc;
    --white-three: #f2f2f2;
  }

  
.--MI-dashboard {
 background-color: var(--silver);
}